:root { 
--bluegray_50:#f1f1f1; 
--red_200:#dcb991; 
--red_201:#cf9e7c; 
--red_400:#b26a49; 
--red_100:#fdcfcf; 
--teal_900:#114338; 
--deep_orange_102:#fcc1c2; 
--deep_orange_101:#eacba8; 
--deep_orange_200:#e7bc91; 
--deep_orange_100:#fcbabb; 
--teal_900_99:#11433899; 
--gray_600:#ac8b64; 
--teal_900_7e:#1143387e; 
--gray_601:#99644d; 
--gray_400:#bababa; 
--gray_301:#e3e3e3; 
--gray_800:#623a18; 
--gray_602:#767676; 
--lime_900:#94613c; 
--gray_900:#3f2818; 
--gray_200:#eaeaea; 
--orange_201:#ecbf83; 
--gray_300:#dddddd; 
--orange_101:#f7e2ab; 
--orange_200:#f0c08a; 
--orange_100:#ffdfc4; 
--teal_900_7f:#1143387f; 
--bluegray_800:#29564c; 
--bluegray_700:#416960; 
--bluegray_600:#587b74; 
--bluegray_400:#708e88; 
--lime_901:#a3703a; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_900_90:#19191990; 
}